{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
   
    
}

header{
    display:block;
    width: 100%;
    height: 100px;
    background-color: white;
   clear: both;
}


main{
    display:block;
    width: 100%; 
   
}



.img-logo{
	height: 80px;
	width: auto;
	float: left;
    margin-top: 30px;
    margin-left: 50px;
}

.toggle{
font-size: 30px;
box-sizing: border-box;
padding: 20px 10px;
text-align: right;
display: none;
}

.img-cart{
	
    width: auto;
    font-size: 30px;
   

}
.nav-ul{
	float: right;
    margin-top: 30px;
    margin-right: 50px;
}

.nav-ul li{
	display: inline-block;
	margin-left: 60px;
}

.nav-ul li a{
    
	padding: 5px 0;
	color:#070617;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 100%; 
	font-weight: 100;
}

.nav-ul li a:hover{
	border-bottom: 3px solid #070617;
}

@media only screen and (max-width: 998px){
	
	.nav-ul li{
		display: inline-block;
		list-style: none;
		margin-left: 30px;
	}

}
@media only screen and (max-width: 875px){
	
	.nav-ul li{
		display: inline-block;
		list-style: none;
		margin-left: 30px;
	}

}
@media only screen and (max-width: 825px){
	
	.nav-ul li{
		display: inline-block;
		list-style: none;
		margin-left: 20px;
	}

}
@media screen and (max-width: 771px){
    .toggle{
        
        display:block;
        }

    .nav-ul{
        display: none;
        /* float: left; */
       
        
    }
    .nav-ul li{
        display: block;
        margin-top: 10px;
        
    }
}




.search-container{
 padding-left: 63px; 
}
 

  @media screen and (max-width: 1355px){
    .sidebar .search-container {
      float: none;
    }
  .search-container input[type=text], {
      float: none;
      
          padding: 8px;
    margin: 31px 0px 20px -5px;
    font-size: 17px;
    border: none;
    background-color: white;
      
    }
    .search-container input[type=text] {
      border: 2px solid rgb(0, 0, 0);  
      
      
    }
  }
  @media screen and (max-width: 1075px) and (min-width:980px){
    
  .search-container input[type=text], .search-container button {
     
      width: 55%;
    
      
    }
   
  }
  @media screen and (max-width:980px){
    
    .search-container input[type=text], .search-container button {
        
        width: 80%;
     
      }
     
    }
    @media screen and (max-width:546px){
    
        .search-container input[type=text], .search-container button {
            
            width: 75%;
         
          }
         
        }
        @media screen and (max-width:400px){
    
            .search-container input[type=text], .search-container button {
                
                width: 50%;
             
              }
             
            }

 .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top:20px;
    margin-right: 50px;
    margin-left: 0px;
    background: #ddd;
    font-size: 17px;
    width: auto;
    border: none;
    cursor: pointer;
  }
  
 .search-container button:hover {
    background: #ccc;
  }
  .search-container input[type=text] {
    padding: 6px;
    margin:20px 0px 20px 20px;
    font-size: 17px;
    border: none ;
    background-color: darkgrey;
  }

 
section{
    display: block;
}



 .section-aside
{
    float: left;
    left:0px;

    width: 200px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: block;
}

.div-left-header
{
background-color: #070617;
color: white;
text-align: center;
margin-top: 10px;
padding: 1px;
}
.div-left-content
{
    text-align: center;
    padding: 10px;
  
}
.a2{

    display: block;
    color:#070617;
    padding: 20px;
    transition: .2s;
}
.a2:hover{
    color: white;
    background-color: darkgrey;
    text-decoration: none;
    transition: .1s;
}

.img-items{
    height: 295px;

}

.div-img{
padding: 40px 20px;
text-align: center;


}

.item-button2 {
	border:1px solid black;
    outline: none;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    background: transparent;
    color: black;
    font-size: 15px;
    border-radius: 35px;
    padding: 5px;
    transition: .2s;
    
}
.item-button2:hover
{
    cursor: pointer;
    background: gray;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    transition: .1s;
   
}

.item-button1
{
    border:  1px solid black;
    outline: none;
    height: 40px;
    color: #530202;
    margin-top: 15px;
    padding: 12px;
    font-size: 15px;
    width: 100%;
}
.item-button1:hover
{
    cursor: pointer;
    background: gray;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    transition: .1s;
    
}
.item-body .col-md-6, .col-xs-12{
    padding: 0px !important;
    margin-top: 10px; 
}

@media only screen and (max-width: 1165px) and (min-width:992px){
    .item-button1{
                font-size: 12px;

    }
    

    .item-button2{
        font-size: 12px;
}
}

@media (max-width: 767px)
{
  .img-items{
      width: 100%;
    height: 100%;

}

/*

@keyframes layer2Anim{
    0%{left:-100%;}
    17%{left:-100%;}
    33%{left:0;}
    50%{left:0;}
    67%{left:-100%;}
    100%{left:-100%;}
}
@keyframes layer3Anim{
    0%{left:100%;}
    50%{left:100%;}
    67%{left:0;}
    83%{left:0;}
    100%{left:100%}
}

*/



  @keyframes layer2Anim {  
    0%{opacity:0;}
    17%{opacity:0;}
    33%{opacity:1;}
    50%{opacity:1;}
    67%{opacity:0;}
    100%{opacity:0;}
}
@keyframes layer3Anim {
    0%{opacity:0;}
    50%{opacity:0;}
    67%{opacity:1;}
    83%{opacity:1;}
    100%{opacity:0;}
}
.slideShow {
    position: relative;
    
}
.placeHolder {
    width: 100%;
    visibility: hidden;
}
.layer1, .layer2, .layer3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.layer1 {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(slider14.jpg);
    
    
    
}
.layer2 {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(slider9.jpg);
    animation: layer2Anim 10s infinite;
    
}
.layer3 {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(slider15.jpg);
    animation: layer3Anim 10s infinite;
    
}
.slideOverlay {
    background-image: url(slideshow/overlay.png);
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slideOverlay p {
    position: relative;
    font-size: 6vw;
    color: #fff;
    text-shadow: 3px 3px 6px #000;
    text-align: center;
    top: 30%;
}














.footer{
    display:block;
    width: 100%;
    height: auto;
    background-color: black;
    clear: both;
}
.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
   margin-left: 70px;
    padding: 0px 20px 20px 50px;
  }

  .footer .col h4 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }

  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
   
  }
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
  }





  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h4 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h4 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h4 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  

  